<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true"
        tools:ignore="UnsupportedTvHardware" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".OmerFlexApplication"
        android:allowBackup="true"
        android:banner="@drawable/app_icon_your_company"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/app_icon_your_company"
        android:supportsRtl="true"
        android:theme="@style/Theme.OmarFlex"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

<!--        <receiver-->
<!--            android:name=".server.CallBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash; This action specifies that your receiver listens for new outgoing calls &ndash;&gt;-->
<!--                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <activity
            android:name=".view.mobile.MobileMovieDetailActivity"
            android:exported="false"
            android:theme="@style/AppMobileTheme" />
        <activity
            android:name=".view.mobile.MobileSearchResultActivity"
            android:exported="false"
            android:theme="@style/AppMobileTheme" /> <!-- <activity -->
        <!-- android:name=".view.mobile.MobileHomepageActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/AppMobileTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".view.mobile.MobileWelcomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DetailsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.PlaybackActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.BrowseErrorActivity"
            android:exported="false" />
        <activity
            android:name=".view.BrowserActivity"
            android:allowBackup="true"
            android:configChanges="orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.GetDocActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.BBrowserActivity"
            android:allowBackup="true"
            android:configChanges="orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.GetSearchQueryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.SearchResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.ExoplayerMediaPlayer"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.omerflex.providers.CastOptionsProvider" />
    </application>

</manifest>
